@import "_nullstyle.scss";

//Шрифт=================================================================================================================
@import "_fonts.scss";
// Максимальная ширина макета =================================================================================================================
$maxWidth: 1440;
$maxWidthContainer: 1046;
//Шрифт по умолчанию ===================================&display=swap&subset=cyrillic===========Адаптивный шрифт===================================================================
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
	);
}
//==========Адапативное свойство=======================================================================================================

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addsize: $startSize - $minSize;
	@if $type==1 {
		//только если меньше контайнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addsize} *
					((100vw - 320px) / #{$maxWidthContainer - 320})
			);
		}
	} @else if $type==2 {
		//только если больше контайнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addsize} * ((100vw - 320px) / #{$maxWidth - 320})
			);
		}
	} @else {
		//Всегда
		#{$property}: calc(
			#{$minSize + px} + #{$addsize} * ((100vw - 320px) / #{$maxWidth - 320})
		);
	}
}
//=================================================================================================================

body {
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 500;
	background-color: #fafafa;
	&.lock {
		overflow: hidden;
	}
}
//====Основа===========================================================================================================
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1046px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.page {
	flex: 1 1 auto;

	&__head-block {
	}

	&__advatages {
	}

	&__practice {
	}

	&__whoweare {
	}
	&__brands {
	}
	&__subscribe {
	}
	&__getInTuoch {
	}
	&__contact {
	}
}
.block-header {
	&__title {
		font-size: 700px;
		@include adaptiv-font(40, 38);
		line-height: 57/40 * 100%;
		letter-spacing: 0.2px;
		color: #252b42;
		text-align: center;
		margin: 0px 0px 10px 0px;
	}

	&__sub-title {
		text-align: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 20/14 * 100%;
		letter-spacing: 0.2px;
		color: #737373;
	}
}

//==header===============================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	&__container {
		display: flex;
		min-height: 104px;
		align-items: center;
		@media (max-width: 575px) {
			justify-content: space-between;
		}
	}
	&__logo {
		font-size: 24px;
		position: relative;
		z-index: 5;
		line-height: 32/24 * 100%;
		font-weight: 700;
		color: #252b42;
		letter-spacing: 0.1px;
		position: relative;
		z-index: 5;
	}
	&__menu {
		margin: 0px 0px 0px 133px;
	}
	&__burger {
		position: relative;
		display: block;
		z-index: 5;
		cursor: pointer;
		width: 30px;
		height: 18px;
		z-index: 5;
		@media (max-width: 575px) {
			&::before,
			&::after {
				content: "";
			}
			&::before,
			&::after,
			span {
				position: absolute;
				left: 0;
				width: 100%;
				height: 10%;
				background-color: rgb(68, 76, 83);
				transition: all 0.5s ease 0s;
			}
			&::before {
				top: 0;
				transform: translate(0px, 0px) rotate(0);
			}
			&::after {
				bottom: 0;
				transform: translate(0px, 0px) rotate(0);
			}
			span {
				top: 50%;
				transform: translateX(0) scale(1);
				transition: all 0.8s ease 0s;
			}
		}
		&.active {
			&::before {
				transform: translate(0px, -50%) rotate(-45deg);
				top: 50%;
			}
			&::after {
				transform: translate(0px, 50%) rotate(45deg);
				bottom: 50%;
			}
			& span {
				transform: translateX(-100%) scale(0);
				bottom: 50%;
			}
		}
	}
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 346px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	position: relative;
	padding: 5px 0;
	@media (max-width: 575px) {
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		width: 100%;
		padding: 130px 30px 30px;
		margin: 0;
		transition: all 0.3s ease 0s;
		overflow: auto;

		& .menu__list {
			margin: 0px 0px 30px 0px;
			&::before {
				display: none;
			}
		}
		& .menu__link {
			color: white;
			font-size: 28px;
		}
		&::before {
			content: "";
			position: fixed;
			width: 100%;
			height: 75px;
			opacity: 0;
			background-color: rgba(250, 250, 250, 1);
			top: -100%;
			left: 0;
			z-index: 2;
			transition: all 0.25s ease 0s;
		}
		&.active {
			left: 0;
			&::before {
				opacity: 1;
				top: 0;
			}
		}
	}

	&__item {
		@media (min-width: 575px) {
			display: flex;
		}
	}

	&__list {
		margin-right: 22px;
		position: relative;

		&.active .menu__link {
			color: white;
			font-size: 24px;
		}
		&:last-child {
			margin: 0;
		}
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 2px;
			background-color: #737373;
			transform: translate(-0%, 0px) scale(0);
			transition: all 0.25s ease 0s;
		}
		&:hover::before {
			transform: translate(0px, 0px) scale(1);
		}
	}
	&__link {
		@include adaptiv-font(16, 18);
		line-height: 24/14 * 100%;
		letter-spacing: 0.2px;
		font-weight: 600;
		color: #737373;
	}
}

.head-block {
	position: relative;

	&__container {
	}

	&__body {
		position: relative;
		z-index: 2;
		padding: 184px 0px 191px 0px;
		max-width: 409px;
		> * {
			margin: 0px 0px 35px 0px;
		}

		:last-child {
			margin: 0;
		}
	}

	&__title {
		font-weight: 800;
		@include adaptiv-font(58, 42);
		line-height: 80/58 * 100%;
		letter-spacing: 0.2px;
	}

	&__sub-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 30/20 * 100%;
		letter-spacing: 0.2px;
		color: #737373;
	}

	&__buttons {
		display: inline-flex;
		font-weight: 800;
		flex-wrap: wrap;
		a {
			margin: 0px 10px 0px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}

	&__button {
		display: flex;
		border-radius: 37px;
		padding: 5px 36px;
		min-height: 48px;
		font-size: 14px;
		line-height: 28/14 * 100%;
		justify-content: center;
		align-items: center;
	}

	&__button-orange {
		position: relative;
		background: #ff7b47;
		color: #fff;
		transition: all 0.3s ease 0s;
		&:hover {
			background: white;
			color: #ff7b47;
		}
	}

	&__button-green {
		color: #0d5c63;
		border: 1px solid #0d5c63;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #0d5c63;
			color: white;
		}
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
@media (max-width: 1351px) {
	.head-block__img {
		img {
			object-position: right;
			opacity: 0.5;
		}
	}
	.head-block__sub-title {
		color: #4b4b4b;
	}
}
@media (max-width: 992px) {
	.head-block__body {
		padding: 154px 0px 171px 0px;
	}
}
@media (max-width: 767px) {
	.head-block__body {
		padding: 134px 0px 151px 0px;
	}
}
@media (max-width: 384px) {
	.head-block__button {
		flex: 1 1 100%;

		margin: 0px 0px rem(30) 0px;
	}
	.head-block__buttons {
		a {
			margin: 0px 0px 10px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
@media (min-width: 378px) {
	.head-block__buttons {
		a {
			margin-right: 10px;
			&:last-child {
				margin: 0;
			}
		}
	}
}

.advatages {
	&__container {
		position: relative;
		z-index: 5;
		margin-top: -111px;
	}

	&__body {
		display: flex;
		margin: 0 -15px -30px;
		flex-wrap: wrap;
	}

	&__column {
		padding: 0 15px;
		flex: 0 1 33.333%;
		margin: 0px 0px 30px 0px;
		transition: all 0.3s ease 0s;
		&:hover {
			transform: scale(1.005);
		}
	}

	&__item {
		padding: 35px 40px;
		background-color: #fff;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		height: 100%;
		> * {
			margin: 0px 0px 10px 0px;
		}
		:last-child {
			margin: 0;
		}
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #0d5c63;
			div {
				color: #fafafa;
			}
		}
	}

	&__img {
		font-size: 40px;
		color: #0d5c63;
	}

	&__title {
		font-size: 24px;
		line-height: 32/24 * 100%;
		font-weight: 700;
		letter-spacing: 0.1px;
		color: #252b42;
	}

	&__text {
		font-size: 500px;
		font-size: 14px;
		line-height: 20/14 * 100%;
		letter-spacing: 0.2px;
		color: #737373;
	}
}

@media (max-width: 1046px) {
	.advatages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 670px) {
	.advatages__column {
		flex: 0 1 100%;
	}
}
.page {
	&__services {
	}
}
.services {
	&__container {
	}

	&__header {
		padding: 80px 0px 0px 0px;
		margin: 0px 0px 50px 0px;
	}

	&__body {
		display: flex;
		margin: 0 -15px;
		flex-wrap: wrap;
	}

	&__column {
		flex: 0 1 25%;
		padding: 0 15px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.07);
		padding: 30px 20px;
		> * {
			margin: 0px 0px 10px 0px;
		}
		:last-child {
			margin: 0;
		}
		transition: all 0.25s ease 0s;
		&:hover {
			transform: scale(1.0065);
		}
	}
}
@media (max-width: 992px) {
	.services__header {
		padding: 50px 0px 0px 0px;
		margin: 0px 0px 40px 0px;
	}
	.services__column {
		flex: 0 1 50%;
		margin: 0px 0px 30px 0px;
	}
}

@media (max-width: 630px) {
	.services__column {
		flex: 0 1 100%;
	}
}
@media (max-width: 767px) {
	.services__header {
		padding: 40px 0px 0px 0px;
		margin: 0px 0px 30px 0px;
	}
}

.item-services {
	&__icon {
		height: 48px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		&:hover {
		}
	}

	&__value {
		font-size: 40px;
		line-height: 57/40 * 100%;
		color: #252b42;
		font-weight: 700;
		letter-spacing: 0.2px;
	}

	&__text {
		letter-spacing: 0.1px;
		font-weight: 700;
		line-height: 24/16 * 100%;
		color: #737373;
	}
}

.practice {
	padding: 0px 0px 80px 0px;
	&__container {
	}

	&__header {
		margin: 81px 0px 0px 0px;
		padding: 45px 0;
	}

	&__body {
		display: flex;
		margin: 0 -15px -30px;
		flex-wrap: wrap;
	}

	&__column {
		padding: 0 15px;
		flex: 0 1 25%;
		margin: 0px 0px 30px 0px;
	}

	&__item {
		box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.07);
	}
}
@media (max-width: 992px) {
	.practice {
		&__header {
			margin: 31px 0px 20px 0px;
			padding: 25px 0;
		}
	}
}
@media (max-width: 767px) {
	.practice {
		&__header {
			margin: 11px 0px 5px 0px;
			padding: 15px 0;
		}
	}
}
.item-practice {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__content {
		background-color: white;
		padding: 40px;
		flex: 1 1 auto;
	}
	&__title {
		font-weight: 700;
		line-height: 24/16 * 100%;
		color: #252b42;
		letter-spacing: 0.1px;
		margin: 0px 0px 15px 0px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 20/14 * 100%;
		color: #737373;
		letter-spacing: 0.2px;
	}

	&__img {
		display: block;
		padding: 0px 0px 67% 0px;
	}
}
@media (max-width: 1071px) {
	.practice__column {
		flex: 0 1 33.333%;
	}
}
@media (max-width: 974px) {
	.practice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 813px) {
	.practice__column {
		flex: 0 1 100%;
	}
}
.whoweare {
	padding: 100px 0px 121px 0px;
	background-color: white;
	&__container {
	}

	&__header {
		margin: 0px 0px 100px 0px;
	}

	&__body {
		display: flex;
		align-items: flex-start;
	}

	&__video {
		position: relative;
		flex: 0 0 57%;
		padding: 0px 0px 42.25% 0px;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	&__content {
		padding: 0px 0px 0px 120px;
		flex: 1 1 auto;
	}

	&__top {
		padding: 20px 0px 0px 0px;
	}

	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 57/40 * 100%;
		letter-spacing: 0.2px;
		color: #252b42;
		margin: 0px 0px 15px 0px;
		&:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 20/14 * 100%;
		letter-spacing: 0.2px;
		color: #737373;
	}

	&__items {
		margin: 50px 0px 0px 0px;
		> * {
			margin: 0px 0px 30px 0px;
		}
		:last-child {
			margin: 0;
		}
	}

	&__item {
		display: flex;
	}
}
@media (max-width: 1074px) {
	.practice {
		padding: 0px 0px 40px 0px;
	}
	.whoweare {
		padding: 40px 0px 60px 0px;
		&__header {
			margin: 0px 0px 70px 0px;
		}
		&__content {
			padding: 0px 0px 0px 50px;
		}
	}
}

@media (max-width: 960px) {
	.whoweare {
		padding: 40px 0px 60px 0px;
		&__header {
			margin: 0px 0px 40px 0px;
		}
		&__body {
			flex-direction: column-reverse;
			align-items: stretch;
		}
		&__content {
			padding: 0;
		}
		&__title {
			font-size: 24px;
		}
		&__video {
			padding: 0px 0px 56.25% 0px;
			&:not(:last-child) {
				margin: 50px 0px 0px 0px;
			}
		}
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0px 0px 20px 0px;
	}
	.whoweare {
		padding: 25px 0px 30px 0px;
		&__header {
			margin: 0px 0px 30px 0px;
		}
	}
}
.item-whoweare {
	&__icon {
		flex: 0 0 32px;
	}

	&__body {
		padding: 0px 0px 0px 20px;
		> * {
			margin: 0px 0px 5px 0px;
		}
		:last-child {
			margin: 0;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.1px;
		color: #252b42;
	}

	&__text {
		font-size: 14px;
		font-weight: 600;
		line-height: 24/14 * 100%;
		letter-spacing: 0.2px;
		color: #737373;
		white-space: nowrap; //!три точки
		text-overflow: ellipsis;
		overflow: hidden;
		width: 225px;
	}
}

.brands {
	padding: 58px 0px 0px 0px;
	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		padding: 8px 15px;
		text-align: center;
		flex: 0 1 16.6667%;
		min-width: 140px;
		img {
			max-width: 100%;
		}
	}
}
@media (max-width: 767px) {
	.brands {
		padding: 30px 0px 0px 0px;
	}
}
@media (min-width: 1070px) {
	.subscribe {
		&__body {
			margin: 0 30px;
		}
	}
}
@media (min-width: 870px) {
	.subscribe {
		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 30px;
		}
		&__title {
			max-width: 266px;
		}
	}
}
@media (max-width: 870px) {
	.subscribe {
		&__title {
			margin: 0px 0px 25px 0px;
		}
	}
}

.subscribe {
	padding: 78px 0 20px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 77px;
		background-color: #252b42;
	}
	&__container {
	}

	&__body {
		background-color: #17213c;
		padding: 33px 50px;
		border-radius: 3px;
		position: relative;
		z-index: 2;
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 32/24 * 100%;
		letter-spacing: 0.1px;
		color: #fff;
	}

	&__form {
		display: flex;
		flex: 0 1 50%;
		align-items: center;
	}

	&__input {
		height: 58px;
		width: 100%;
		padding: 0px 0px 0px 20px;
		font-weight: 400;
		line-height: 28/14 * 100%;
		letter-spacing: 0.2px;
		color: #737373;
		border-radius: 5px 0 0 5px;
		&:focus {
			box-shadow: 0 0 5px rgb(204, 204, 204);
		}
	}

	&__button {
		height: 58px;
		padding: 15px 22.5px;
		border-radius: 0 5px 5px 0;
		font-weight: 400;
		line-height: 28/14 * 100%;
		letter-spacing: 0.2px;
		text-align: center;
		color: white;
		cursor: pointer;
		background-color: #ff7b47;
		border: 1px solid #e5e5e5;
		transition: all 0.23s ease 0s;
		&:hover {
			background-color: #ca5e33;
		}
	}
}
@media (max-width: 810px) {
	.subscribe {
		&__body {
			margin: 0 -15px;
			padding: 20px 15px;
		}
	}
}

.getInTuoch {
	padding: 80px 0px 148px 0px;
	&__container {
	}

	&__header {
		margin: 0px 0px 80px 0px;
	}

	&__items {
		margin: 0 -15px;
	}

	&__item {
		flex: 0 1 33.333%;
	}
	.item-getInTuoch {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: white;
		box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.07);
		padding: 50px 15px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #0d5c63;
				color: white;
				transform: scale(1.15);
				.item-getInTuoch__title {
					color: #fff;
				}
				.item-getInTuoch__button {
					color: #fff;
					border: 1px solid white;
					&:hover {
						border: 1px solid #ff7b47;
					}
				}
				.item-getInTuoch__icon {
					svg {
						path {
							fill: white;
						}
					}
				}
			}
		}
		> *:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
		&_active {
			background-color: #0d5c63;
			color: white;
			padding: 80px 15px;
		}
		&__icon {
		}

		&__emails {
			text-align: center;
		}

		&__email {
			font-weight: 600;
			font-size: 14px;
			letter-spacing: 0.2px;
			color: inherit;
			line-height: 24/14 * 100%;
			&:hover {
				text-decoration: underline;
			}
		}

		&__title {
			font-weight: 700;
			letter-spacing: 0.1px;
			line-height: 24/16 * 100%;
			color: #252b42;
			&_active {
				color: #fff;
			}
		}

		&__button {
			&_active {
				color: #fff;
				border: 1px solid white;
				&:hover {
					border: 1px solid #ff7b47;
				}
			}
			color: #ff7b47;
			border: 1px solid #ff7b47;
			padding: 10px 20px;
			border-radius: 5px;
			font-size: 14px;
			line-height: 24/14 * 100%;
			letter-spacing: 0.2px;
			transition: all 0.2s ease 0s;
			&:hover {
				background-color: #ff7b47;
				color: white;
			}
		}
	}
}

@media (min-width: 992px) {
	.getInTuoch {
		&__items {
			display: flex;
			align-items: center;
		}
	}
}
@media (max-width: 760px) {
	.getInTuoch {
		padding: 50px 0px 90px 0px;
		&__header {
			margin: 0px 0px 50px 0px;
		}
	}
}

.contact {
	background-color: #fafafa;
	padding: 40px 0;
	&__container {
	}

	&__body {
	}

	&__title {
		max-width: 475px;
		font-weight: 700;
		font-size: 24px;
		line-height: 32/24 * 100%;
		letter-spacing: 0.1px;
		color: #252b42;
		span {
			color: #737373;
			font-weight: 500;
			font-size: 14px;
			line-height: 20/14 * 100%;
		}
		margin: 0px 0px 10px 0px;
	}

	&__button {
		font-weight: 700;
		min-height: 58px;
		font-size: 14px;
		line-height: 28/14 * 100%;
		letter-spacing: 0.2px;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #ff7b47;
		padding: 5px 40px;
		border-radius: 5px;
		transition: all 0.35s ease 0s;
		&:hover {
			background-color: #fff;
			color: #ff7b47;
			border: 1px solid #ff7b47;
		}
	}
}
@media (min-width: 820px) {
	.contact {
		&__body {
			display: flex;
			justify-content: space-between;
		}
	}
}

/* =============================== */
.footer {
	&__top {
		background-color: #17213c;
		padding: 30px 0;
		color: white;
	}

	&__main {
	}

	&__row {
		display: flex;
		margin: 0 -15px;
		flex-wrap: wrap;
	}

	&__column {
		flex: 0 1 16.667%;
		padding: 20px 15px;
		&:last-child {
			flex: 0 1 16.667 * 2%;
		}
	}

	&__label {
		margin: 0px 0px 20px 0px;
		font-size: 16px;
		line-height: 24/16 * 100%;
		letter-spacing: 0.1px;
		font-weight: 700;
	}

	&__menu {
	}

	&__buttom {
		padding: 25px 0;
		&__body {
		}
		&__copy {
			text-align: center;
			font-weight: 600;
			font-size: 14px;
			line-height: 24/14 * 100%;
			letter-spacing: 0.2px;
			color: #737373;
		}
	}

	&__social {
	}
}
@media (max-width: 1080px) {
	.footer {
		&__column {
			flex: 0 1 25%;
			padding: 20px 15px;
			&:last-child {
				flex: 1 1 100%;
			}
		}
	}
}

@media (max-width: 767px) {
	.footer {
		&__buttom {
			&__copy {
				margin: 0px 0px 10px 0px;
			}
		}
		&__column {
			flex: 0 1 33.333%;
			padding: 20px 15px;
			&:last-child {
				flex: 1 1 33.333 * 2%;
			}
		}
	}
}
@media (max-width: 550px) {
	.footer {
		&__column {
			flex: 0 1 50%;
			padding: 20px 15px;
			&:last-child {
				flex: 1 1 100%;
			}
		}
	}
}
@media (min-width: 767px) {
	.footer {
		&__buttom {
			&__body {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
.menu-footer {
	&__list {
	}

	&__item {
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0;
		}
	}

	&__link {
		color: inherit;
		font-weight: 600;
		font-size: 14px;
		line-height: 24/14 * 100%;
		letter-spacing: 0.2px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.social-footer {
	> *:not(:last-child) {
		margin: 0px 0px 12px 0px;
	}
	&__item {
	}

	&__link {
		color: inherit;
		font-weight: 600;
		font-size: 14px;
		line-height: 24/14 * 100%;
		letter-spacing: 0.2px;
		padding: 0px 0px 0px 34px;
		display: flex;
		align-items: center;
		min-height: 36px;
		&:hover {
			text-decoration: underline;
		}
		&_tel {
			background: url("../img/footer/01.svg") 0 5px no-repeat;
		}

		&_map {
			background: url("../img/footer/02.svg") 0 5px no-repeat;
		}

		&_email {
			background: url("../img/footer/03.svg") 0 5px no-repeat;
		}
	}
}

.item-buttom {
	display: flex;
	padding: 0px 0px 0px 10px;
	justify-content: center;
	&__item {
		padding-right: 20px;

		&:last-child {
			padding: 0;
		}
	}

	&__link {
	}
}
